.container {
	display: flex;
	gap: 30px;
}

.content {
	padding: 20px;
	min-width: 300px;
	min-height: 500px;
	.title_task {
		font-size: 25px;
		margin-bottom: 10px;
	}
}

.special_content {
	border-radius: 30px;
	background-color: rgb(99, 99, 99);
}

.card_task {
	p::first-letter {
		text-transform: capitalize;
	}
	min-width: 300px;
	color: black;
	display: flex;
	background-color: rgb(255, 255, 255);
	margin-bottom: 10px;
	padding: 15px;
	border-radius: 5px;
	justify-content: space-between;
	align-items: center;
	.task_btn {
		color: black;
		display: flex;
		align-items: center;
	}

	.name_sh {
		color: gray;
		text-decoration: line-through;
	}
}

.special {
	background-color: rgb(168, 165, 165) !important;
}
